.form {
        text-align: center;
        margin-top: 25px;
    }

#header {
    margin-top: 75px;
}

.menu {
    margin: 25px 0px 20px 50px;
}

.eatBurger {
    margin: 5px 15px 15px 50px;
}

.delBurger {
    margin: 5px 15px 15px 50px;
}

.container{
margin-left: 50px;
}

#create {
    margin-bottom: 50px;
}

.grill {
    margin: 0px 15px 0px 0px;
}

.logo {
    width: 250px;
    margin-top: -75px;
}